body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-container, #menu-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.hidden {
    display: none;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

#menu-buttons button {
    margin-bottom: 15px;
    background-color: #28a745;
}

#menu-buttons button:hover {
    background-color: #218838;
}

#logout-button {
    background-color: #dc3545;
}

#logout-button:hover {
    background-color: #c82333;
}

#bet-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

#bet-form input[type="text"],
#bet-form input[type="number"],
#bet-form select {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#form-buttons {
    display: flex;
    justify-content: space-between;
}

#form-buttons button {
    width: 30%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-buttons button[type="reset"] {
    background-color: #ffc107;
}

#form-buttons button[type="button"] {
    background-color: #6c757d;
}

#form-buttons button:hover {
    opacity: 0.9;
}
/* Estilo para o formulário de bet */
#bet-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

#bet-form input[type="text"],
#bet-form input[type="number"],
#bet-form select {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#form-buttons {
    display: flex;
    justify-content: space-between;
}

#form-buttons button {
    width: 30%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-buttons button[type="reset"] {
    background-color: #ffc107;
}

#form-buttons button[type="button"] {
    background-color: #6c757d;
}

#form-buttons button:hover {
    opacity: 0.9;
}